.git
.gitignore
.idea
.vscode
.fleet

node_modules
vendor

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

public/hot
public/storage
public/build

.env
.env.*
!.env.example

tests
phpunit.xml
*.md
